body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title {
  text-align: center;
  color: #00897B;
}

.login-container {
  margin: auto;
  width: 30%;
  height: auto;
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
}

.login-image {
  max-width:50%;
  max-height:50%;
  vertical-align: middle;
  padding: 10px;
}

.user-select {
  padding: 10px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.nav-item {
    float: left;
}

.nav-item a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover:not(.active) {
    background-color: #ddd;
}

.nav-item a.active {
    background-color: #00897B;
    color: white;
}
